body{
    background: #ccffaa ;
    margin: 0;
    padding: 0;
    border: 0;

}
.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
}
.box{
    transform: translate(-50%, -50%);
    align-content: center;

}
input{
    background:transparent;
    font-weight: lighter;
    color: #449944;
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    text-align: center;
    left: 50%;
    top:30%;
    transform: translate(-50%,-50%);
    font-size: 24pt;
}
p {
    user-select: none;
    background: #ccffaa ;
    font-weight: lighter;
    color: #77cc77;
    white-space: pre;
    font-family: monospace;
    margin: 0;
    border: 0;
    padding: 1em;
    line-height: 12pt;
    font-size: 20pt;
    font-kerning: none;

}