.cell {
  width: 1em;
  height: 1em;
}
.light {
  background: transparent;
}
.dark {
  background: #227722;
}
.letter {
  width: 2.5em;
  display: inline-grid;
  grid-template-columns: 1em 1em;
}
.no-outline {
  outline: none;
}
.language-select{
  position: absolute;
  bottom:0px;
  right: 0px;

  padding: 10px;
}
